.title {
  text-align: center;
  padding-top: 2em;
}
.logout {
  width: 100%;
  display: flex;
  p {
    opacity: 0.5;
    margin: auto;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  .chart,
  .sidebar {
    background-color: #3e0097;
    margin: 1em;
    border-radius: 15px;
  }
}
