@import "src/varaiable.scss";

.chart-container {
  padding: 1em;
  .your-list {
    margin-top: 1em;
    ul {
      list-style: none;

      li {
        display: inline-block;
        padding: 10px 15px;
        margin: 0 5px;
        border-radius: 10px;
        background-color: $secondary-color;
        cursor: pointer;
        &:hover {
          background-color: $main-color;
        }
        &.selected {
          background-color: $main-color;
        }
      }
    }
  }
  .data-container {
    background-color: $main-color;
    border-radius: 10px;
    padding: 2em;
    position: relative;
    .convert {
      display: flex;
      align-items: center;
      justify-content: center;
      form {
        width: 100%;
        div {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          div {
            display: block;
          }

          span {
            display: block;
            text-align: center;
            padding: 0;
            font-size: 2em;
            border-radius: 10px;
            margin: 0 1em;
            cursor: pointer;
            &:hover {
              background-color: $secondary-color;
            }
          }
        }
      }
    }
    .chart {
      border-radius: 10px;
      border: 1px solid $dark-color;
      margin-top: 2em;
      max-height: 400px;
      padding-top: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-color;
    }
    .delete-crypto {
      position: absolute;
      right: 15px;
      top: 10px;
      span {
        font-size: 0.8em;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .adding-popup {
    position: relative;
    background-color: $main-color;
    padding: 2em;
    border-radius: 10px;
    border: 1px solid $dark-color;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    form {
      button,
      input {
        display: block;
        margin: 1em 0;
      }
    }
    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}
