<div class="chart-container">
  <div class="your-list container-lg">
    <ul class="container-lg">
      <li
        *ngFor="let crypto of allSavedCryptoNames; index as i"
        [ngClass]="crypto === currentCrypto?.name ? 'selected' : ''"
        (click)="setCurrentCrypto(i)"
      >
        {{ crypto }}
      </li>
      <li (click)="togglePopup()">+</li>
    </ul>
  </div>
  <div *ngIf="(currentUser?.saved)!.length > 0" class="data-container">
    <div class="delete-crypto" (click)="deleteCrypto()">
      <span>DELETE CRYPTO</span>
    </div>
    <h2>{{ currentCryptoName }}</h2>
    <p>Current Rate: {{ currentExchangeRate }}</p>
    <div class="convert container-lg">
      <form class="col-4" [formGroup]="convertForm" (ngSubmit)="convert()">
        <div class="mb-3 flex-lg-row">
          <div>
            <label for="from" class="form-label">{{
              isReversed ? currentCryptoName : "USD"
            }}</label>
            <input
              type="number"
              class="form-control"
              id="from"
              formControlName="from"
              (click)="selectInputContent($event)"
            />
          </div>

          <div>
            <span
              (click)="reverse()"
              class="d-lg-block d-none"
              style="transform: rotate(90deg)"
              >⇅</span
            >
            <span
              (click)="reverse()"
              class="d-lg-none d-block my-3 mx-0"
              style="transform: rotate(0)"
              >⇅</span
            >
          </div>
          <div>
            <label for="currency-2" class="form-label">{{
              isReversed ? "USD" : currentCryptoName
            }}</label>
            <input
              type="number"
              class="form-control"
              id="to"
              formControlName="to"
            />
          </div>
        </div>
        <button type="submit" class="btn">CONVERT</button>
      </form>
    </div>
    <div class="chart">
      <ngx-charts-line-chart
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [autoScale]="autoScale"
        [results]="chartData"
        [animations]="animations"
        style="fill: white"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
  <div class="adding-popup shadow" *ngIf="isPopupOpened === true">
    <h2>ADDING CRYPTO</h2>
    <form [formGroup]="addCryptoForm" (ngSubmit)="addCrypto()">
      <select
        name="selectCrypto"
        id="selectCrypto"
        formControlName="selectCrypto"
      >
        <option *ngFor="let crypto of allCrypto" [value]="crypto">
          {{ crypto }}
        </option>
      </select>
      <button type="submit" class="btn btn-primary">ADD</button>
    </form>
    <div class="close" (click)="togglePopup()">X</div>
  </div>
  <div *ngIf="(currentUser?.saved)!.length === 0" class="data-container">
    <h2>Here you will see the stats of a selected cryptocurrency.</h2>
    <p>
      Add some cryptocurrencies to your watchlist by clicking to the
      <span class="border rounded px-2 py-1">+</span> icon
    </p>
  </div>
</div>
