/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  body {
    font-family: "Space grotesk";
    background-color: #110022;
    color: white;
  }
}

.btn {
  background-color: #570aca;
  color: white;
  border: 1px solid white;
  &:hover {
    color: #110022;
    background-color: white;
  }
}
