/* You can add global styles to this file, and also import other style files */
@import "src/varaiable.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  body {
    font-family: "Space grotesk";
    background-color: $dark-color;
    color: $text-color;
  }
}

.btn {
  background-color: $main-color;
  color: $text-color;
  border: 1px solid $text-color;
  &:hover {
    color: $dark-color;
    background-color: $text-color;
  }
}
